<h1>Toplantıya Katılım Listesi</h1>
<table>
    <thead>
        <tr>
            <td>Ad</td>
            <td>Email</td>
            <td>Katılım Durumu</td>
            <td>Detay</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Furkan solak</td>
            <td>furkan@gmail.com</td>
            <td>evet</td>
            <td>
                <a href="#">Detay</a>
            </td>
        </tr>
        <tr>
            <td>Ali solak</td>
            <td>ali@gmail.com</td>
            <td>evet</td>
            <td>
                <a href="#">Detay</a>
            </td>
        </tr>
        
        
    </tbody>
</table>